.dialog-overlay#overlay {
  z-index: 25000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .dialog-overlay#overlay #screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em; }
    .dialog-overlay#overlay #screen .dialog {
      background: #FFF;
      display: block;
      width: 30em;
      margin: 0 auto;
      z-index: 1550;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      .dialog-overlay#overlay #screen .dialog .mdl-card {
        width: auto;
        min-height: 0; }
        .dialog-overlay#overlay #screen .dialog .mdl-card .mdl-card__title {
          padding: 16pt; }
        .dialog-overlay#overlay #screen .dialog .mdl-card .mdl-card__supporting-text {
          font-size: 13pt;
          padding: 10pt 16pt 16pt;
          line-height: 1.5em; }
        .dialog-overlay#overlay #screen .dialog .mdl-card .dialog-menu {
          position: relative;
          width: 100%;
          opacity: 1;
          z-index: 10; }
          .dialog-overlay#overlay #screen .dialog .mdl-card .dialog-menu > li {
            opacity: 1;
            padding: 0 16pt; }
      @media (max-width: 768px) {
        .dialog-overlay#overlay #screen .dialog {
          width: 100%;
          max-width: 25em;
          margin: 0 auto; } }
      .dialog-overlay#overlay #screen .dialog .option-container {
        max-height: 70vh;
        overflow: auto; }
      .dialog-overlay#overlay #screen .dialog .dialog-container-btn {
        text-align: right; }
      .dialog-overlay#overlay #screen .dialog > img {
        max-width: 50%;
        margin: 5% auto;
        display: block; }

.dialog {
  padding: 25pt; }

.dialog h2 {
  margin-bottom: 16pt; }

.dialog .mdl-card__supporting-text {
  margin-bottom: 1em; }

/*# sourceMappingURL=dialog-bootstrap.css.map */
