.upper-bar{
  height: 4em;
  background-color: $upper-bar-bg;
  padding-bottom: 0;
  padding-top: 0;
  @extend .wrapper;

  .upper-bar-elements{
    @extend .inner;
    margin: auto;
    padding-top: 0.7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    img {
      max-width: 14em;
    }

    .right-side {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      p{
        margin: 0;
        @include breakpoint(medium){
          display: none;
        }
      }
      .input[type="text"] {
        width: 12em;
        height: 2em;
        font-size: 1em;
        margin: 0 1em;
        border: 1px solid $upper-bar-bg;
      }
      .generic-button {
        width: 8em;
        height: 2em;
        font-size: 1em;
        @include breakpoint(medium){
          width: 5em;
        }
      }

      button > i{
        display: none;
        @include breakpoint(medium){
          display: block;
        }
      }

      button > span{
        display: block;
        @include breakpoint(medium){
          display: none;
        }
      }
      
      @include breakpoint(small){
        display: none;
      }
    }
  }

  + .content {
    @include vendor("box-shadow", "inset 0 6px 12px -4px rgba(96,96,96,0.6)");
  }
}