@import url('../fonts/dinpro-regular.css');
@import url('../fonts/dinpro-bold.css');

div {
  box-sizing: border-box;
}

p {
  margin-bottom: 0.6em;
}

h2 {
  font-size: 1.9em;
  @include breakpoint(medium){
    font-size: 1.5em;
  }
  @include breakpoint(xsmall){
    font-size: 1.4em;
  }
  @include breakpoint(xxsmall){
    font-size: 1.2em;
  }
}

.image-big {
  display: block;
  margin: auto auto 1em;
  @include breakpoint(small){
    margin-top: 1em;
  }
}

.arrow-icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center;
  @include breakpoint(xsmall){
    display: none;
  }
  .arrow {
    fill: $dark-purple;
    &:hover{
      fill: $accent-primary-pink;
      cursor: pointer;
    }
  }
}

.line {
  width: 30%;
  height: 2px;
  margin: 0 auto 2em auto;
  @include breakpoint (large){
    width: 50%;
  }
}

.purple-text{
  color: $bg-purple;
}

input[type="text"] {
  text-align: center;
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  -webkit-box-shadow: 0 0 10px 1px rgba(211,211,211,0.91);
  box-shadow: 0 0 10px 1px rgba(211,211,211,0.91);
}

button {
  border: 0;
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  background-color: $bg-purple;
  color: white;
  text-transform: uppercase;
  padding: 0.6em 1.2em;

  &.generic-button {
    padding: 0;
  }

  &:hover {
    background-color: $accent-primary-pink;
  }

  &.inline-element{
    @include breakpoint(medium){
      font-size: 0.79em;
    }
    @include breakpoint(small){
      font-size: 1em;
    }
  }
}

.inline-element {
  margin-right: 1.2em;
  @include breakpoint-min(medium){
    margin-right: 2em;
  }

  &:last-of-type {
    margin-right: 0;
  }
}