@font-face {
    font-family: 'Dinpro';
    src: url('DINPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('DINPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('DINPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('DINPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('DINPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('DINPro-Regular.svg#Dinpro') format('svg'); /* Legacy iOS */
}
