#overlay{
  #screen{
    @include breakpoint(small){
      overflow-y: auto;
    }
  }

  #dialog-info,#dialog-loading{
    padding: 0;

    .mdl-card__title{
      padding: 18pt 18pt 8pt 18pt !important;

      @include breakpoint(xsmall){
        padding: 12pt 18pt 4pt 18pt !important;
      }

      .mdl-card__title-text{
        margin-bottom: 8pt;
        font-size: 1.1em;
        line-height: 1.5em;
        text-transform: uppercase;
        @include breakpoint(xsmall){
          font-size: 1em;
          margin-bottom: 4pt;
        }
      }
    }

    .option-container{
      ul{
        list-style-type: none;
        padding-left: 0;

        li{
          cursor: pointer;
          padding: 0.5em 1.2em !important;

          @include breakpoint(xsmall){
            padding: 0.5em 1.2em !important;
          }

          &:hover {
            background-color: $upper-bar-bg;
          }
        }
      }

      .dialog-subtitle{
        font-size: 1.0em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $color-font-gray;
        margin: 0 18pt 4pt 18pt;

        @include breakpoint(xsmall){
          font-size: 0.8em;
        }

        &.with-margin-bottom{
          margin-bottom: 18pt;
          @include breakpoint(xsmall){
            margin-bottom: 0;
          }
        }

        &.with-margin{
          margin: 0 18pt 8pt 18pt;
        }

        &.with-long-margin{
          margin: 0 18pt 18pt 18pt;
        }

        &.color-purple{
          color: $bg-purple;
        }

        &.bold{
          font-weight: bold;
        }

        &.lowercase{
          text-transform: none;
          @include breakpoint(xsmall){
            font-size: 0.8em !important;
          }
        }
      }

      .dialog-details{
        font-size: 0.8em;
        line-height: 1.5em;
        text-transform: uppercase;
        color: $color-font-gray;
        margin: 0 18pt 18pt 18pt;

        @include breakpoint(xsmall){
          font-size: 0.7em;
          margin: 0 18pt 4pt 18pt;
        }

        &.bold{
          font-weight: bold;
        }
      }

      .dialog-text-container{
        margin: 0 18pt 8pt 18pt;

        &:last-child{
          margin: 0 18pt 18pt 18pt;
        }
      }

      .browsers-div{
        display: flex;
        flex-direction: row;
        margin-bottom: 18pt;

        @include breakpoint(xsmall){
          margin-bottom: 0;
        }

        .dialog-browser{
          flex: 1;
          text-align: center;
          display: flex;
          flex-direction: column;
          padding: 0.6em 0;

          @include breakpoint(xsmall){
            padding: 0.5em 0;
          }

          &:hover{
            background-color: $upper-bar-bg;
            a{
              color: $accent-primary-pink;
            }
          }
        }
        .dialog-browser-image{
          height: 5em;
          width: 5em;
          padding: 0.25em 0;

          @include breakpoint(xsmall){
            height: 3.5em;
            width: 3.5em;
          }
        }
        .dialog-browser-link{
          color: $bg-purple;

          @include breakpoint(xsmall){
            font-size: 0.8em;
          }

          &:hover{
            color: $accent-primary-pink;
          }
        }
      }

      .dialog-review{
        font-size: 1.0em;
        line-height: 1.5em;
        text-transform: uppercase;
        margin: 0 18pt 12pt 18pt;
        font-weight: bold;
        color: $accent-primary-pink;

        i{
          padding-left: 0.3em;
        }
      }

      .dialog-review-container{
        margin: 0 18pt 18pt 18pt;

        &.with-loader-inside .loader-inside {
          background: #FFFFFF;
          display: none;
          z-index: 100000; }
        &.with-loader-inside .loader-inside.absolute {
          position: absolute; }
        &.with-loader-inside .loader-inside .item-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%; }
        &.with-loader-inside .loader-inside .item-container i {
          color: #702082;
          font-size: 2em; }
        &.with-loader-inside.is-loading-inside .loader-inside {
          display: block;
          margin: 25pt;}
      }

      .dialog-review-title{
        font-size: 0.8em;
        line-height: 1.5em;
        text-transform: uppercase;
        margin: 0 18pt 4pt 18pt;
        color: $bg-purple;

        @include breakpoint(xsmall){
          margin: 18pt 18pt 4pt 18pt;
        }
      }

      .dialog-review-table{
        margin: 0 18pt 18pt 18pt;
        list-style-type: none;

        li{
          cursor: default;
          padding: 0.5em 0 0 0 !important;

          &:hover {
            background-color: $bg-light;
          }
        }

        .link{
          margin-top: 1em;
          &:hover{
            color: $bg-purple;
          }
        }

        .dialog-single-review{
          color: $color-font-gray;
          overflow-wrap: break-word;
          overflow: hidden;

          .hidden{
            display: none;
          }

          .dialog-single-review-container{
            font-size: 0.8em;
            color: $accent-primary-pink;
            margin-bottom: 0.2em;

            i{
              padding-right: 0.3em;
            }
          }
        }
      }

      #comment-text-area{
        background-color: $bg-light;
        -moz-border-radius: 0.1em;
        -webkit-border-radius: 0.1em;
        border-radius: 0.1em;
        -webkit-box-shadow: 0 0 10px 1px rgba(211,211,211,0.91);
        box-shadow: 0 0 10px 1px rgba(211,211,211,0.91);
        margin: 8pt 18pt 18pt 18pt;
        width: 90%;
        font-size: 1em;
        resize: vertical;
        max-height: 10em;

        @include breakpoint(xsmall){
          margin: 0 auto;
          padding: 0.75em 1em 2.5em 1em;
        }
      }

      .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 1.1em;
        float: left;
        margin: 0 18pt 18pt 18pt;

        @include breakpoint(xsmall){
          margin: 0 18pt 12pt 18pt;
        }
      }

      .rating span.star {
        font-family:FontAwesome;
        font-weight:normal;
        font-style:normal;
        display:inline-block;
      }
      .rating span.star:hover {
        cursor:pointer;
      }

      .rating span.star:before {
        content: "\f006";
        padding-right:0.5em;
        color: $accent-primary-pink;
      }

      .rating span.star:hover:before,
      .rating span.star:hover~span.star:before {
        content: "\f005";
        color: $accent-primary-pink;
      }
      span.star.filled:before{
        color: $accent-primary-pink;
        content:"\f005";}

      #errorMessages{
        @include breakpoint(xsmall){
          margin-bottom: 12pt;
        }
      }

      .dialog-error{
        color: $accent-secondary-red;
        font-size: 1em;
        margin: 0 18pt 12pt 18pt;

        @include breakpoint(xsmall){
          font-size: 0.9em;
          margin: 0 18pt 4pt 18pt;
        }
      }
    }

    .dialog-container-btn{
      padding: 1em;
      border-top: 0.1em solid $color-calendar-bg !important;

      @include breakpoint(xsmall){
        text-align: center;
        padding: 0.5em;
      }

      button{
        background-color: $bg-light;
        color: $bg-purple;
        margin-left: 0.5em;
        padding: 0.3em 1em;

        &:hover{
          color: $accent-primary-pink;
        }

        @include breakpoint(xsmall){
          margin-left: 0;
          padding: 0.3em 0.5em;
        }
      }
    }
  }
}