$duration: (
		transition:			0.2s
);

$size: (
		border-radius:		9px,
		border-width:		1px,
		element-height:		2.75em,
		element-margin:		2em,
		underline-size:		0.1em,

        max-container-width: 60em
);

$font: (
		family:				('Dinpro', sans-serif),
		family-title:		('Dinpro', sans-serif),

		weight-light:		400,
		weight:				400,
		weight-bold:		800,
		weight-ultrabold:	800,

		letter-spacing: (
				base: 		-0.015em,
				titles: 	0.0125em
		),

		size: (
				base: 			18pt,
				base-xlarge: 	13pt,
				base-large: 	12pt,
				base-xxsmall: 	11pt
		),

		line-height: (
				base: 		1.5em,
				titles: 	1em
		)
);

$padding: (
        box: 2.5em,

        big-padding: 10em,

        button-vertical: 0.9em,
        button-horizontal: 4.5em,

        wrapper: (
                horizontal: (
                        default: 0em,
                        small-land: 3em,
                        small-port: 1.5em,
                        xsmall-land: 1.5em,
                        xsmall-port: 1em
                ),
                vertical: (
                        default: 4.5em,
                        small-land: 3em,
                        small-port: 3em,
                        xsmall-land: 2em,
                        xsmall-port: 2em
                )
        )
);

$bg-light : #FFFFFF;
$bg-purple : #702082;
$accent-primary-pink : #FF149B;
$color-card-gray : #58595B;
$color-font-gray : #808184;
$color-calendar-bg: #D1D3D4;
$text-field-bg : #FFFFFF;
$dark-purple: #5a1a68;
$upper-bar-bg: #efefef;
$color-fg-bold: #1D1D1B;

$accent-secondary-green: #00BFB3;
$accent-secondary-blue: #0077C8;
$accent-secondary-red: #ED145B;

//TOOLS
$color-util-yellow: #FFE900;
$color-util-pink: #F65097;
$color-util-red: #E2231A;
$color-util-green: #3FAE2A;
$color-util-blue: #40B4E5;


$palette: (
		base: (
				bg:				    $bg-light,
				fg:				    $color-font-gray,
				fg-bold:		    $accent-primary-pink,//titles, bold, form labels
				fg-light:		    $color-font-gray,//placeholders, hints, some icons
				fg-accent:		    white,//used when accent is bg
				accent:			    $bg-purple,
                text-field-bg:      $text-field-bg,
                border:			    $text-field-bg,// Used for box outlines, button borders default, textfield border
                link-underline:	    transparent,
                btn-bg:             $bg-purple,
				btn-bg-hover:       $accent-primary-pink,
				btn-bg-active:      $accent-primary-pink,
                table-nth-child-bg: rgba(144,144,144,0.075),
                color-dialog-bg:   rgba(0,0,0,0.5)
		),

		dark-purple: (
                bg:				    $bg-purple,
                fg:				    white,
                fg-bold:		    white,
                fg-light: 			#999999,
                fg-accent:		    white,
                accent:			    $text-field-bg,
                text-field-bg:      $text-field-bg,
                border:			    $text-field-bg,
                link-underline:	    transparent,
                btn-bg:             $accent-primary-pink,
                btn-bg-hover:       #99D9E0,
                btn-bg-active:      #99D9E0,
                table-nth-child-bg: rgba(144,144,144,0.075)
		)
);

$zindex-loader-overlay:	    100000;
$card-border-radius: 		1em;