.content {
  background: $upper-bar-bg;
}

#car-information {
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  .info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      h6 {
        text-transform: uppercase;
        font-size: 1.2em;
        color: $color-font-gray;
      }

      p {
        margin: 0;
        color: $color-fg-bold;
        font-size: 1.5em;
      }

      .color-container {
        height: 1.5em;
        width: 100%;
        border-radius: 0.35em;

        &.yellow {
          background: $color-util-yellow;
        }

        &.pink {
          background: $color-util-pink;
        }

        &.red {
          background: $color-util-red;
        }

        &.green {
          background: $color-util-green;
        }

        &.blue {
          background: $color-util-blue;
        }
      }
    }

    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: stretch;

      > div {
        width: 50%;
        h6 {
          margin-bottom: 0.8em;
        }
        p {
          margin-bottom: 0.8em;
          font-size: 1.5em;
        }
        .color-container {
          width: 35%;
        }
      }
    }

    @include breakpoint(small) {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
      align-items: stretch;

      > div {
        width: 50%;
        h6 {
          font-size: 1em;
          margin-bottom: 0.8em;
        }
        p {
          margin-bottom: 0.8em;
          font-size: 1.3em;
        }
        .color-container {
          width: 45%;
        }
      }
    }

    @include breakpoint(xsmall) {
      flex-direction: column;
      > div {
        width: 100%;
        h6 {
          margin-bottom: 0.5em;
        }
        p {
          margin-bottom: 0.5em;
          font-size: 1.35em;
        }
        .color-container {
          width: 40%;
        }
      }
    }
  }
}

$color-change-radio: 5%;
#main-container {
  background: $bg-light;
  @include breakpoint(medium){
    padding: 2.5em 0em;
  }

  .inner > div {
    margin-bottom: 1.5em;
    width: 100%;
  }

  #no-drive-days-calendar{
    display: flex;
    flex-direction: row;

    @include breakpoint(medium){
      flex-direction: column;
    }

    .calendar-indicators{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;

      @include breakpoint(medium){
        text-align: center;
        margin-bottom: 1.5em;
      }

      h4{
        color: $bg-purple;
        text-transform: uppercase;
        width: 100%;
        margin: 0;
        @include breakpoint(medium){
          margin-bottom: 1.5em;
        }
      }

      p{
        color: $color-font-gray;
        text-transform: uppercase;
        font-weight: bold;
        @include breakpoint(small){
          font-size: 0.9em;
        }
      }

      .no-drive-indicator-circle{
        width: 1.5em;
        height: 1.5em;
        background:$color-calendar-bg;
        border-radius: 50%;
        float: left;
        margin-right: 0.5em;

        @include breakpoint(small){
          width: 1.3em;
          height: 1.3em;
        }
        @include breakpoint(xsmall){
          margin-bottom: 0.5em;
          margin-right: 0;
        }
      }

      .today-indicator-circle{
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        border: 0.18em solid $bg-purple;
        float: left;
        margin-right: 0.5em;
        @include breakpoint(small){
          width: 1.3em;
          height: 1.3em;
        }
        @include breakpoint(xsmall){
          margin-bottom: 0.5em;
          margin-right: 0;
        }
      }

      .today-indicator-text,.no-drive-indicator-text,.drive-legend-type{
        padding-left: 0.5em;
      }

      .drive-legend-type{
        width: 50%;
        @include breakpoint(medium){
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          align-content: center;
        }
      }
    }

    .weekly-calendar{
      flex: 2;

      .month{
        background: $color-calendar-bg;
        border-radius: 0.3em;
        padding: 0.5em;

        ul{
          margin: 0;
          padding: 0;
          list-style-type: none;
        }

        ul li{
          color: $bg-purple;
          text-transform: uppercase;
          text-align: center;
          font-size: 1.1em;
          line-height: 1.5em;
          font-weight: bold;
          letter-spacing: 0.0125em;

          @include breakpoint(small){
            font-size: 0.9em;
          }
        }

        .prev{
          float: left;
          padding-left: 1em;
          cursor: pointer;
          &:hover{
            color: $accent-primary-pink;
          }
        }

        .next{
          float: right;
          padding-right: 1em;
          cursor: pointer;
          &:hover{
            color: $accent-primary-pink;
          }
        }
      }

      .weekdays{
        padding: 0.5em 0;
        margin: 0 1em;

        @include breakpoint(small){
          margin: 0;
        }

        li{
          display: inline-block;
          width: 13.6%;
          color: $bg-purple;
          text-transform: uppercase;
          text-align: center;
          font-size: 1.1em;
          line-height: 1.5em;
          font-weight: bold;
          letter-spacing: 0.0125em;

          @include breakpoint(small){
            font-size: 0.9em;
            width: 12.5%;
          }
        }
      }

      .days {
        padding: 0.5em 0;
        background: $bg-light;
        margin: 0 1em;

        @include breakpoint(small){
          margin: 0;
        }

        li {
          list-style-type: none;
          display: inline-block;
          width: 13.6%;
          text-align: center;
          margin-bottom: 0.5em;
          color: $color-calendar-bg;
          font-weight: bold;

          @include breakpoint(small){
            font-size: 0.9em;
            width: 12.5%;
          }

          .active{
            padding: 0.2em 0.3em;
            background: $bg-light;
            color: $bg-purple;
            border-radius: 50%;
            border: 0.18em solid $bg-purple !important;
          }

          .disabled{
            padding: 0.2em 0.3em;
            background: $color-calendar-bg;
            color: $bg-light;
            border-radius: 50%;
            border: 0.18em solid $color-calendar-bg;
          }

        }
      }
    }
  }

  #no-drive-warning {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.5em;

    @include breakpoint(small){
      margin-bottom: 2.5em;
    }

    span {
      font-weight: bold;
      text-align: center;
      color: $accent-secondary-red;
      font-size: 1.6em;

      @include breakpoint(small){
        font-size: 1em;
      }
    }
  }

  #allow-to-drive-warning {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3.5em;

    @include breakpoint(small){
      margin-bottom: 2.5em;
    }

    span {
      font-weight: bold;
      text-align: center;
      color: $accent-secondary-green;
      font-size: 1.6em;

      @include breakpoint(small){
        font-size: 1em;
      }
    }
  }

  .status-card {
    @include vendor("box-shadow", "0 6px 12px -4px rgba(96,96,96,0.6)");
    border-radius: 1em;
    overflow: hidden;

    .title, .content {
      width: 100%;
    }

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.8em 2em;
      background: $color-card-gray;

      h3, i, span {
        margin: 0;
        color: white;

        @include breakpoint(xsmall){
          font-size: 0.8em;
        }
      }

      h3 {
        flex: 1;
        text-transform: uppercase;
        font-weight: bold;

        @include breakpoint(small){
          font-size: 1em;
        }

        @include breakpoint(xsmall){
          font-size: 0.8em;
        }
      }

      span {
        margin: 0 0.8em;

        @include breakpoint(xsmall){
          text-align: center;
        }
      }

      i {
        font-size: 1.3em;
      }

      &:hover {
        cursor: pointer;
      }

      &.red {
        background: $accent-secondary-red;

        &:hover {
          background: darken($accent-secondary-red, $color-change-radio);
        }
      }

      &.blue {
        background: $accent-secondary-blue;

        &:hover {
          background: darken($accent-secondary-blue, $color-change-radio);
        }
      }

      &.green {
        background: $accent-secondary-green;

        &:hover {
          background: darken($accent-secondary-green, $color-change-radio);
        }
      }
    }

    .content {
      background: $bg-light;
      padding: 2em;

      ul, p {
        margin-bottom: 1em;
      }

      .button-container {
        text-align: right;
      }

      @include breakpoint(medium){
        padding: 1.5em;
      }

      @include breakpoint(small){
        text-align: justify;
        display: flex;
        flex-direction: column;

        .button-container{
          align-items: center;
          align-content: stretch;
          justify-content: center;
          display: flex;
          flex-direction: column;

          button{
            margin-bottom: 1.2em;
            margin-right: 0;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      @include breakpoint(xsmall){
        button{
          width: 100%;
        }
      }

      &.with-list {
        padding: 0;

        > p {
          margin: 2em;

          @include breakpoint(medium){
            margin: 1.5em;
          }
        }

        .list-element {
          padding: 1em 2em;
          border-top: 1px;
          border-color: $color-font-gray;
          border-top-style: solid;
          display: flex;
          flex-direction: row;

          @include breakpoint(medium){
            padding: 1em 1.5em;
          }
          @include breakpoint(xsmall){
            padding: 1em 1.2em;
          }

          @include breakpoint(small){
            flex-direction: column;
          }

          > div {
            display: flex;
            flex-direction: row;

            @include breakpoint(small){
              flex-direction: column;
            }

            &:last-child {
              margin-bottom: 0;
            }

            > .flex-1 {
              flex: 1;

              @include breakpoint(small){
                > div{
                  margin-bottom: 0.5em;
                }
              }

              p{
                @include breakpoint(small){
                  &:first-child{
                    padding: 0;
                  }
                }
              }
            }
          }

          .list-element-details{
            flex: 10;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;

            @include breakpoint(small){
              margin-bottom: 1em;
              align-items: flex-start;
              flex: 3;
            }

            > div{
              @include breakpoint(medium){
                margin-bottom: 0;
                margin-right: 0.5em;
              }

              @include breakpoint(small){
                margin-bottom: 0;
                margin-right: 0;
              }

              &:first-child{
                width: 100%;
                margin-bottom: 0.5em;
                @include breakpoint-min(small){
                  margin-right: 2em;

                }
              }
              &:last-child{
                @include breakpoint(medium){
                  flex: 2;
                }
                @include breakpoint(small){
                  flex: 1.5;
                  margin-bottom: 0;
                }
              }
            }
          }

          .list-element-button{
            flex: 1;
            align-items: flex-end;
            flex-direction: column;

            @include breakpoint(small){
              margin-bottom: 1em;
              align-items: center;
              align-content: stretch;
              justify-content: center;
            }

            .button-container{
              @include breakpoint(xsmall){
                width: 100%;
              }
              button{
                @include breakpoint(xsmall){
                  width: 100%;
                }
              }
            }
          }

          .spacer {
            width: 2em;
          }

          .description {
            margin: 0;

            @include breakpoint(medium){
              text-transform: lowercase;
            }

            @include breakpoint(small){
              padding-right: 1em;
              text-align: justify;
            }

            @include breakpoint(xsmall){
              padding-right: 0;
            }

            .simple-label {
              font-weight: bold;
              margin-right: 0.6em;
              font-size: 1.2em;
              text-transform: uppercase;

              @include breakpoint(medium){
                font-size: 0.9em;
              }
            }
          }
        }
      }

      .question-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1em;

        @include breakpoint(small){
          flex-wrap: wrap;
          flex-direction: initial;
          justify-content: center;
        }

        p {
          margin-bottom: 1em;
        }

        h6 {
          color: black;
          margin: 0;
          flex: 1;
          font-size: 1.4em;

          @include breakpoint(small){
            flex: initial;
            width: 100%;
          }
        }

        button {
          font-size: 1.4em;
          width: 3em;
          height: 3em;
          text-transform: uppercase;
          background-color: $accent-secondary-blue;
          border-radius: 1.5em;
          margin-left: 1em;
          color: white;
          border: none;
          padding: 0;

          &:hover {
            background-color: darken($accent-secondary-blue, $color-change-radio);
          }

          @include breakpoint(small){
              margin: 0.5em 0 0 0;
              &:last-child{
                margin-left: 1em !important;
            }
          }
        }
      }

      &.notifications-content{
        display: flex;
        flex-direction: column;

        .privacy-container{
          padding-top: 1em;
        }

        .notification-input-container{
          display: flex;
          flex-direction: row;
          margin: 1em 0 1.5em 0;

          @include breakpoint(small){
            margin: 1em 0 1em 0;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
          }

          input[type="checkbox"]{
            float: none;
            margin-right: 0;
            width: auto;

            @include breakpoint(small){
              font-size: 0.9em;
            }

            & + label {
              &:before {
                border: solid 2px $bg-purple;
              }
            }
          }


          label{
            margin: 0;
            padding-right: 2.4em;
            @include breakpoint(small){
              margin-bottom: 1em;
              padding-right: 0;
              width: 50%;
            }
            @include breakpoint(xsmall){
              width: 100%;
            }
          }
        }

        .email-notification-container{
          display: flex;
          flex-direction: row;
          align-items: center;

          p{
            margin-bottom: 0;
          }

          @include breakpoint(small){
            flex-direction: column;
            align-items: flex-start;
          }

          input[type="email"]{
            text-align: center;
            -moz-border-radius: 0.1em;
            -webkit-border-radius: 0.1em;
            border-radius: 0.1em;
            -webkit-box-shadow: 0 0 10px 1px rgba(211,211,211,0.91);
            box-shadow: 0 0 10px 1px rgba(211,211,211,0.91);
            height: 2em;
            width: 20em;
            margin: 0 1em;
            font-size: 1em;

            @include breakpoint(small){
              margin: 0.5em 0 1.5em 0;
            }
            @include breakpoint(xsmall){
              width: 100%;
            }
          }
          button{
            font-size: 1em;
            padding: 0.28em 1em;
            @include breakpoint(xsmall){
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-logo-container{
    margin: 1em 0;
    img{
      height: 3em;
      @include breakpoint(small){
        height: 2em;
      }
    }
  }

  .footer-info-container{
    text-align: center;
    p{
      font-size: 0.8em;
      @include breakpoint(small){
        font-size: 0.75em;
      }
    }
  }
}