.content {

  h2 {
    line-height: 1.2em;
  }

  p {
    font-size: 0.9em;
    margin: 0 0 1em 0;
    line-height: 1.2em;
    color: black;

    b {
      color: $bg-purple;
    }
  }
  li{
    font-size: 0.9em;
    margin: 0 0 1em 0;
    line-height: 1.2em;
    color: black;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -2em;
    padding-left: 2em;
  }

  img{

    @include breakpoint(small){
      width: 95%;
      height: auto;
    }

    @include breakpoint(xsmall){
      width: 100%;
      height: auto;
    }
  }
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-logo-container{
    margin: 1em 0;
    img{
      height: 3em;
      @include breakpoint(small){
        height: 2em;
      }
    }
  }

  .footer-info-container{
    text-align: center;
    p{
      font-size: 0.8em;
      @include breakpoint(small){
        font-size: 0.75em;
      }
    }
  }
}