#intro {
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0, rgba(230,230,230,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(230,230,230,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(230,230,230,1) 100%);

  .image-big {
    max-width: 16em;
    @include breakpoint (xsmall){
      max-width: 14em;
    }
    @include breakpoint(xxsmall){
      max-width: 10em;
    }
  }

  .start {
    width: 65%;
    @include breakpoint(large){
      width: 75%;
    }
    @include breakpoint(small){
      width: 100%;
    }
    margin: 2em auto auto;
    text-align: center;
    p {
      font-size: 1.2em;
      @include breakpoint(small){
        font-size: 1.1em;
      }
      @include breakpoint(xxsmall){
        font-size: 1em;
      }
    }
  }
  .input-button {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;

    .input[type="text"] {
      flex: 3;
      height: 2.5em;
      font-size: 1.2em;
      margin-right: 1.5em;
      @include breakpoint(small){
        font-size: 1em;
        height: 3em;
        margin-right: 0;
      }
      @include breakpoint(xsmall){
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

    }

    .button{
      flex: 1;

      i{
        display: block;
        @include breakpoint-min(small){
          display: none;
        }
      }
      span{
        @include breakpoint(small){
          display: none;
        }
      }
    }
  }
    .generic-button {
      width: 32%;
      margin-left: 3%;
      height: 2.5em;
      font-size: 1.2em;
      @include breakpoint(small){
        font-size: 1em;
        height: 3em;
      }
      @include breakpoint(xsmall){
        width: 43%;
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-box-shadow: 0 0 10px 1px rgba(211,211,211,0.91) ;
        box-shadow: 0 0 10px 1px rgba(211,211,211,0.91) ;
      }
    }
  .icon-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    @include breakpoint(xsmall){
      display: none;
    }
    p {
      margin: 0;
    }
  }
}


#how {
  @include apply-palette-to-section(dark-purple);
  .instructions {
    text-align: center;
  }
  .line {
    background-color: white;
  }
  p {
    margin: 0 1.5em 1em 1.5em;
    @include breakpoint(large){
      margin: 0 1em 1em 1em;
    }
    @include breakpoint(small){
      margin: 1em 0;
    }
    @include breakpoint(xsmall){
      margin: 0 1em 1em 1em;
    }
    @include breakpoint(xxsmall){
      font-size: 0.9em;
      line-height: 1.2em;
    }
  }
  .image-big{
     @include breakpoint(medium){
       max-width: 9em;
     }
    @include breakpoint(xxsmall){
      max-width: 8em;
    }
  }

}

#who {
  h2{
    margin: 1em 3em;
    @include breakpoint(large){
      margin: 1em 0;
    }
  }
  h3 {
    @include breakpoint(xxsmall){
      font-size: 1em;
    }
  }
  p{
    @include breakpoint(xsmall){
      font-size: 0.9em;
      line-height: 1.2em;
    }
    @include breakpoint(xxsmall){
      font-size: 0.8em;
    }
  }
  .line {
    background-color: $color-font-gray;
  }
  .link-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include breakpoint(small){
      display: flex;
      flex-direction: column;
    }
  }

  .left-padding{
    padding-left: 0.5em;
  }
  
  .column-char{
    @include breakpoint(small){
      display: none;
    }
  }

  .social-icons {
    margin: 2em 0;
    i{
      color: $bg-purple;
      font-size: 2em;
      margin: 0 0.4em;
      &:hover{
        color: $accent-primary-pink;
        cursor: pointer;
      }
      @include breakpoint(xsmall){
        font-size: 1.75em;
      }
      @include breakpoint(xxsmall){
        font-size: 1.5em;
      }
    }
  }
  img {
    max-width: 24em;
    @include breakpoint(large){
      max-width: 20em;
    }
    @include breakpoint(small){
      max-width: 18em;
    }
    @include breakpoint(xsmall){
      max-width: 15em;
    }
    @include breakpoint(xxsmall){
      max-width: 14em;
    }
  }
}
