.content {
  background: $upper-bar-bg;
}

.content-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  margin: 0 auto;

  @include breakpoint(medium){
    flex-direction: column;
    overflow-y: hidden;
  }

  #panel-container{
    width: 35%;
    height: 100%;
    overflow-y: auto;
    background-color: $bg-light;

    @include breakpoint(medium){
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -100%;
      z-index: 1;
      margin-bottom: 48pt;
      overflow-y: hidden;
      @include vendor("transition","bottom 0.6s");

      &.is-active{
        overflow-y: auto;
        bottom: -48pt;
        z-index: 1;
      }
    }

    .panel-title{
      h4{
        margin: 0 0 1.2em 0;
        text-align: center;
      }
      a{
        margin-top: 1.2em;
      }
      img{
        display: block;
        margin: auto;
        width: 70%;
        padding: 1em;
        height: 5em;
        @include breakpoint(medium) {
          max-width: 60%;
        }
        @include breakpoint(small) {
          max-width: 100%;
        }
        @include breakpoint(xsmall) {
          max-width: 100%;
          padding: 1em 0;
        }
      }

      @include breakpoint(medium){
        margin-top: 48pt;
      }
    }

    .panel-filters{
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5em;

      .panel-filters-text{
        display: flex;
        flex-direction: row;

        .filter-neighborhood-text,.filter-type-text{
          text-align: center;
          flex: 1;
          h5{
            color: $bg-purple;
          }
        }
      }
      .panel-filters-buttons{
        display: flex;
        flex-direction: row;

        .filter-neighborhood-button,.filter-type-button{
          flex: 1;
          text-align: center;

          .generic-button{
            background-color: $upper-bar-bg;
            color: $accent-primary-pink;
            text-transform: none;
            padding: 0.1em 0.5em;
            border-bottom: 0.15em solid $color-calendar-bg;
            border-right: 0.1em solid $color-calendar-bg;
          }

          i{
            color: $color-font-gray;
          }
        }
        #typeButton{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 8em;
        }
      }
    }

    .panel-list{
      margin: 1.5em 0 1.5em 0;

      .centers-table{
        //table-layout: fixed;

        thead{
          border-bottom: 0.12em solid $color-font-gray;

          th{
            font-size: 0.75em;
            line-height: 1.5em;
            color: $bg-purple;
            text-transform: uppercase;
            margin-bottom: 0;
            text-align: center;
          }
        }
        tbody{
          tr{
            border-bottom: 0.1em solid $color-font-gray;
            background-color: $bg-light;
            cursor: pointer;
            &:hover {
              background-color: $upper-bar-bg !important;
            }
          }
          td{
            font-size: 0.75em;
            line-height: 1.5em;
            text-transform: uppercase;
            text-align: center;

            &.font-pink{
              color: $accent-primary-pink;
              font-weight: bold;
            }

            i{
              color: $accent-primary-pink;
            }
          }
        }
      }
    }
  }

  #update-date{
    text-align: center;
    margin-bottom: 2em;
  }

  #map-container{
    background: $bg-light;
    flex-grow: 1;
    display: flex;
    align-items: stretch;

    @include breakpoint(medium){
      width: 100%;
      height: auto;
      padding-bottom: 48pt;
      z-index: 0;
    }

    #mapid {
      width: 100%;
    }

    .custom .leaflet-popup-tip,
    .custom .leaflet-popup-content-wrapper {
      background: $upper-bar-bg;
      border-radius: 0;

      h4{
        color: $color-font-gray;
        margin-bottom: 0.1em;

        >span{
          font-weight: normal;
        }
      }

      p{
        margin: 0;
        color: $color-font-gray;
      }

      .popup-availability{
        margin-top: 0.5em;
      }

      .popupButtons{
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        text-align: center;

        .popupDetailButton{
          flex-grow: 1;
          margin-right: 1em;

          button{
            padding: 0.7em;
          }
        }
        .popupAppointmentButton{
          flex-grow: 1;

          button{
            padding: 0.7em;
          }
        }
      }
    }
  }

  #panel-toggle{
    height: 0;
    display: none;

    @include breakpoint(medium) {
      z-index: 1;
      height: 48pt;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      //bottom: 0;
      @include vendor("transition","bottom 0.6s");
      &.is-translated{
        bottom: 100%;
        padding-top: 48pt;
      }
      &.is-hidden{
        height: 0;
      }
    }

    .button-toggle{
      height: 48pt;
      z-index: 1;
      position: absolute;
    }

    button{
      height: 48pt;
      width: 100%;
      background-color: $bg-light;
      color: $bg-purple;
      border-bottom: 0.1em solid $color-font-gray;
    }

    button:hover{
      color: $accent-primary-pink;
    }

    button:focus{
      outline: none;
    }
  }
}
