.content {

  h2 {
    line-height: 1.2em;
  }

  p {
    font-size: 0.9em;
    margin: 0 0 1em 0;
    line-height: 1.2em;
    color: black;

    b {
      color: $bg-purple;
    }
  }
  button{
    margin-top: 1em;
  }
}

