<div id=":st" class="a3s aXjCH m1598f2509ffa69f6 adM"><div class="HOEnZb"><div class="adm"><div id="q_1598f3aa309f36f6_0" class="ajR h4" data-tooltip="Hide expanded content" aria-label="Hide expanded content"><div class="ajT"></div></div></div><div class="im"><u></u>
    <div marginwidth="0" marginheight="0" style="height:100%;margin:0;padding:0;width:100%;background-color:#eeeeee">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-2649682606520893556bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#eeeeee">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-2649682606520893556bodyCell" style="height:100%;margin:0;padding:0;width:100%;border-top:0">

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-2649682606520893556templatePreheader" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:1px solid #d5d5d5">
                                        <tbody>
                                        </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-2649682606520893556templateHeader" style="border-collapse:collapse;background-color:#eeeeee;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td align="center" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="m_-2649682606520893556templateContainer" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top" class="m_-2649682606520893556headerContainer" style="padding-top:15px;padding-bottom:10px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                            <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                            <tr>
                                                                <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                        <tbody><tr>

                                                                            <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;line-height:200%;word-break:break-word;color:#606060;font-size:15px;text-align:center">


                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>



                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                            <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                            <tr>
                                                                <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                        <tbody><tr>

                                                                            <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;line-height:200%;word-break:break-word;color:#606060;font-size:15px;text-align:center">


                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>



                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnImageBlock" style="min-width:100%;border-collapse:collapse">
                                                            <tbody class="m_-2649682606520893556mcnImageBlockOuter">
                                                            <tr>
                                                                <td valign="top" style="padding:9px" class="m_-2649682606520893556mcnImageBlockInner">
                                                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-2649682606520893556mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            <td class="m_-2649682606520893556mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                <img align="center" alt="" src="http://verificalo.sedema.cdmx.gob.mx:9090/images/img_logo_2.svg" style="max-width:320px;padding:0 1.5em;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-2649682606520893556mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 507.5px; top: 147px;"><div id=":167" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="aSK J-J5-Ji aYr"></div></div></div>


                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                            <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                            <tr>
                                                                <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                        <tbody><tr>

                                                                            <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;line-height:200%;word-break:break-word;color:#606060;font-size:15px;text-align:center">


                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>



                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table></td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-2649682606520893556templateBody" style="border-collapse:collapse;background-color:#eeeeee;border-top:0;border-bottom:0">
                                        <tbody><tr>
                                            <td align="center" valign="top" style="padding-top:10px;padding-right:10px;padding-bottom:5px;padding-left:10px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="m_-2649682606520893556templateContainer" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td align="center" valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-2649682606520893556bodyBackground" style="border-collapse:collapse;background-color:#ffffff;border:1px solid #d5d5d5">
                                                                <tbody><tr>
                                                                    <td valign="top" class="m_-2649682606520893556bodyContainer" style="padding-top:10px;padding-bottom:10px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                                        <tr>
                                                                            <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                                    <tbody><tr>

                                                                                        <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;line-height:200%;word-break:break-word;color:#606060;font-size:15px;text-align:center">

                                                                                            <h1 class="m_-2649682606520893556null" style="display:block;margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:40px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;text-align:center;color:#543680!important"><span style="font-size:16px"><span style="color:#d3d3d3"><span id="first-string" style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">NO LO OLVIDES</span></span></span></h1>

                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>



                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                                        <tr>
                                                                            <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                                    <tbody><tr>

                                                                                        <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;line-height:200%;word-break:break-word;color:#606060;font-size:15px;text-align:center">

                                                                                            <h1 class="m_-2649682606520893556null" style="display:block;margin:0;padding:0;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:40px;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;text-align:center;color:#543680!important"><span style="font-size:29px"><strong><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><span style="color:#ff149b" id="message-subtitle">Tu verificación está próxima a vencer</span></span></strong></span></h1>

                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>



                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                                        <tr>
                                                                            <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                                    <tbody><tr>

                                                                                        <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;text-align:center;word-break:break-word;color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:15px;line-height:150%">

                            <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><span style="color:#888888" id="message-detail">Te recordamos que tu automóvil con placas: <strong id="message-plate">XXX-666</strong> tiene la verificación próxima a vencer, evita multas y realiza tu proceso de verificación lo antes posible.</span><br>
<br>
<span style="color:#ff149b"><span style="font-size:23px" id="message-call-to-action"><strong>¡Haz una cita!</strong></span></span></span><br>
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>



                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnButtonBlock" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody class="m_-2649682606520893556mcnButtonBlockOuter">
                                                                        <tr>
                                                                            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center" class="m_-2649682606520893556mcnButtonBlockInner">
                                                                                <table border="0" cellpadding="0" cellspacing="0" class="m_-2649682606520893556mcnButtonContentContainer" style="border-collapse:separate!important;border-radius:3px;background-color:#702082">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="middle" class="m_-2649682606520893556mcnButtonContent" style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:18px;padding:15px">
                                                                                            <a class="m_-2649682606520893556mcnButton" id="message-button" href="http://verificalo.sedema.cdmx.gob.mx:9090" title="Ir al sitio" style="font-weight:bold;letter-spacing:0px;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block">Ir al sitio</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                                        <tr>
                                                                            <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                                    <tbody><tr>

                                                                                        <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;text-align:center;word-break:break-word;color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:15px;line-height:150%">


                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>



                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnImageBlock" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody class="m_-2649682606520893556mcnImageBlockOuter">
                                                                        <tr>
                                                                            <td valign="top" style="padding:9px" class="m_-2649682606520893556mcnImageBlockInner">
                                                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-2649682606520893556mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                                                                                    <tbody><tr>
                                                                                        <td class="m_-2649682606520893556mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                            <img align="center" alt="" src="http://verificalo.sedema.cdmx.gob.mx:9090/images/img_logo_CDMX.svg" width="250" style="max-width:500px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-2649682606520893556mcnImage CToWUd">


                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                                        <tr>
                                                                            <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                                    <tbody><tr>

                                                                                        <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding:0px 18px 9px;text-align:center;word-break:break-word;color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif;font-size:15px;line-height:150%">


                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody></table>



                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table></td>
                                                                </tr>
                                                                </tbody></table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top">
                                                            <img src="https://ci3.googleusercontent.com/proxy/i-JjT8sZV5fQFSybPj1zWjjPVBOnusgA-edeAL8PWmonUhrtHCrBFohZwU1Ij7M96Zetq3ZpxrD3pyj87RG7mZDk5wuXxx1G2iiHpLc2_jAyqOSioTLG0qPK5zwkUg0MgeHTIw=s0-d-e1-ft#http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/couponshadow.png" height="20" width="600" class="m_-2649682606520893556mcnImage CToWUd" style="display:block;max-width:560px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom">
                                                        </td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:40px">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-2649682606520893556templateFooter" style="border-collapse:collapse;background-color:#eeeeee;border-top:1px none #000000;border-bottom:0">
                                        <tbody><tr>
                                            <td align="center" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" class="m_-2649682606520893556templateContainer" style="border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td valign="top" class="m_-2649682606520893556footerContainer" style="padding-top:10px;padding-bottom:10px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
                                                            <tbody class="m_-2649682606520893556mcnFollowBlockOuter">
                                                            <tr>
                                                                <td align="center" valign="top" style="padding:9px" class="m_-2649682606520893556mcnFollowBlockInner">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            <td align="center" style="padding-left:9px;padding-right:9px">
                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_-2649682606520893556mcnFollowContent">
                                                                                    <tbody><tr>
                                                                                    </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2649682606520893556mcnTextBlock" style="min-width:100%;border-collapse:collapse">
                                                            <tbody class="m_-2649682606520893556mcnTextBlockOuter">
                                                            <tr>
                                                                <td valign="top" class="m_-2649682606520893556mcnTextBlockInner" style="padding-top:9px">



                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2649682606520893556mcnTextContentContainer">
                                                                        <tbody><tr>

                                                                            <td valign="top" class="m_-2649682606520893556mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#cccccc;font-family:Helvetica;font-size:11px;line-height:125%;text-align:center">

                                                                                <div style="text-align:center"><span style="font-size:12px"><span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif"><span style="color:#696969">Verifícalo es un producto desarrollado por la Secretaría de Medio Ambiente.</span><br>
<span style="color:#a9a9a9"><em>Av. Tlaxcoaque No. 8, Sexto Piso, Col. Centro, CP 06090, Delegación Cuauhtémoc, Ciudad de México</em>&nbsp;</span><br>
<br>
<span style="color:#808080">¿Quieres dejar de recibir este correo?<br>
Puedes</span><span style="color:#808080">&nbsp;</span><a id="unsubscribe-link" href="http://verificalo.sedema.cdmx.gob.mx:9090/dashboard/unsubscribe.jsp?email=sedema@cdmx.gob.mx&plate=192umm" style="color:#666666; font-weight:normal;text-decoration:underline"><span style="color:#808080">desuscribirte</span></a></span></span></div>

                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>



                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table></td>
                                                    </tr>
                                                    </tbody></table>
                                            </td>
                                        </tr>
                                        </tbody></table>

                                </td>
                            </tr>
                            </tbody></table>

                    </td>
                </tr>
                </tbody></table>
        </center>
    </div>

</div></div></div>