/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url(font-awesome.min.css);
@import url("../fonts/dinpro-regular.css");
@import url("../fonts/dinpro-bold.css");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*@import "bootstrap/_print";
@import "bootstrap/_glyphicons";*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13pt;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 18pt;
  margin-bottom: 18pt;
  border: 0;
  border-top: 1px solid #eeeeee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

/*@import "bootstrap/_type";
@import "bootstrap/_code";*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 480px) {
    .container {
      width: 750px; } }
  @media (min-width: 736px) {
    .container {
      width: 970px; } }
  @media (min-width: 980px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 480px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 736px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 980px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
/*@import "bootstrap/_tables";
@import "bootstrap/_forms";
@import "bootstrap/_buttons";*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

/*@import "bootstrap/_dropdowns";
@import "bootstrap/_button-groups";
@import "bootstrap/_input-groups";
@import "bootstrap/_navs";
@import "bootstrap/_navbar";
@import "bootstrap/_breadcrumbs";
@import "bootstrap/_pagination";
@import "bootstrap/_pager";
@import "bootstrap/_labels";
@import "bootstrap/_badges";
@import "bootstrap/_jumbotron";
@import "bootstrap/_thumbnails";
@import "bootstrap/_alerts";
@import "bootstrap/_progress-bars";
@import "bootstrap/_media";
@import "bootstrap/_list-group";
@import "bootstrap/_panels";
@import "bootstrap/_responsive-embed";
@import "bootstrap/_wells";
@import "bootstrap/_close";*/
/*@import "bootstrap/_modals";
@import "bootstrap/_tooltip";
@import "bootstrap/_popovers";
@import "bootstrap/_carousel";*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 479px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 479px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 479px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 479px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 480px) and (max-width: 735px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 480px) and (max-width: 735px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 480px) and (max-width: 735px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 480px) and (max-width: 735px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 736px) and (max-width: 979px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 736px) and (max-width: 979px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 736px) and (max-width: 979px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 736px) and (max-width: 979px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 980px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 980px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 980px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 980px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 479px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 480px) and (max-width: 735px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 736px) and (max-width: 979px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 980px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
@-ms-viewport {
  width: device-width; }
html, body {
  width: 100%;
  height: 100%; }

body {
  -ms-overflow-style: scrollbar; }

/*@if ($bp == xlarge){//(max-width: 1680px)
  @media (min-width: 1281px){ @content }
}
@else*/
@media (max-width: 360px) {
  html, body {
    min-width: 320px; } }
.with-loader .loader {
  background: #FFFFFF;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100000; }
  .with-loader .loader.absolute {
    position: absolute; }
  .with-loader .loader .item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .with-loader .loader .item-container i {
      color: #702082;
      font-size: 2em; }
.with-loader.is-loading .loader {
  display: block; }

.block {
  display: block; }

body {
  font-family: "Dinpro", sans-serif; }

* {
  font-family: "Dinpro", sans-serif; }

html, input, select, textarea {
  font-size: 18pt;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 1200px) {
    html, input, select, textarea {
      font-size: 12pt; } }
  @media (max-width: 360px) {
    html, input, select, textarea {
      font-size: 11pt; } }

body, input, select, textarea {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: -0.015em; }

a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  text-decoration: none !important;
  border-bottom: dotted 0.1em;
  /*&:hover {
    border-bottom-color: transparent !important;
  }*/ }
  a.plain {
    border: none; }

strong, b {
  font-weight: 800; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Dinpro", sans-serif;
  font-weight: 800;
  line-height: 1em;
  margin: 0 0 1em 0;
  letter-spacing: 0.0125em;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: none; }
  @media (max-width: 980px) {
    h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
      display: none; } }

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  text-transform: uppercase; }

h2 {
  font-size: 2em;
  line-height: 1.5em; }

h3 {
  font-size: 1.5em;
  line-height: 1.5em; }

h4 {
  font-size: 1.1em;
  line-height: 1.5em; }

h5 {
  font-size: 0.9em;
  line-height: 1.5em; }

h6 {
  font-size: 0.7em;
  line-height: 1.5em; }

/*@if ($bp == xlarge){//(max-width: 1680px)
  @media (min-width: 1281px){ @content }
}
@else*/
@media (max-width: 736px) {
  h1 {
    font-size: 1.8em; }

  h2 {
    font-size: 1.6em; }

  h3 {
    font-size: 1.2em; }

  h4 {
    font-size: 1em; } }
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.justified {
  text-align: justify; }

.box {
  border-radius: 1em;
  border: none;
  margin-bottom: 2em;
  padding: 2.5em;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 736px) {
    .box {
      padding: 1.5em 1.8em; } }
  .box > :last-child,
  .box > :last-child > :last-child,
  .box > :last-child > :last-child > :last-child {
    margin-bottom: 0; }
  .box.alt {
    border: 0;
    border-radius: 0;
    padding: 0; }

.wrapper, .upper-bar {
  padding: 4.5em 0em;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  .wrapper > .inner, .upper-bar > .inner, .upper-bar .wrapper > .upper-bar-elements, .upper-bar > .upper-bar-elements {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    max-width: 80%;
    /*@include breakpoint(medium) {
      width: auto;
      max-width: 90%;
    }*/ }
    @media (max-width: 1430px) {
      .wrapper > .inner, .upper-bar > .inner, .upper-bar .wrapper > .upper-bar-elements, .upper-bar > .upper-bar-elements {
        width: auto;
        max-width: 85%; } }
@media screen and (max-width: 736px) and (orientation: landscape) {
  .wrapper, .upper-bar {
    padding: 3em 3em; } }
@media screen and (max-width: 736px) and (orientation: portrait) {
  .wrapper, .upper-bar {
    padding: 3em 1.5em; } }

@media screen and (max-width: 480px) and (orientation: landscape) {
  .wrapper, .upper-bar {
    padding: 2em 1.5em; } }
@media screen and (max-width: 480px) and (orientation: portrait) {
  .wrapper, .upper-bar {
    padding: 2em 1em; } }

.vertically-centered-div, .section-wrapper .middle-wrapper {
  display: table;
  height: 100%;
  width: 100%; }
  .vertically-centered-div > div, .section-wrapper .middle-wrapper > div {
    display: table-cell;
    vertical-align: middle; }

.horizontally-centered-div {
  display: inline-block; }

.section-wrapper {
  height: 100vh;
  background-size: cover, auto;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 980px) {
    .section-wrapper {
      padding-right: 2.3em;
      padding-left: 2.3em; } }
  @media (max-width: 736px) {
    .section-wrapper {
      padding-right: 1.8em;
      padding-left: 1.8em; } }
  @media (max-width: 480px) {
    .section-wrapper {
      padding-right: 1.4em;
      padding-left: 1.4em; } }
  @media (max-width: 360px) {
    .section-wrapper {
      padding-right: 1em;
      padding-left: 1em; } }
  @media screen and (orientation: portrait) {
    .section-wrapper {
      background-size: auto, cover; } }
  .section-wrapper .middle-wrapper .inner-wrapper {
    position: relative; }
    .section-wrapper .middle-wrapper .inner-wrapper .fixed-width-container {
      margin-left: auto;
      margin-right: auto;
      width: 1300px;
      max-width: 80%; }
      @media (max-width: 1430px) {
        .section-wrapper .middle-wrapper .inner-wrapper .fixed-width-container {
          width: auto;
          max-width: 85%; } }

/*
.fixed-width-container{
  margin-left: auto;
  margin-right: auto;
  //max-width: 90%;
  @include configureFixedWidth;
}*/
form {
  margin: 0 0 2em 0; }

label, .label {
  display: block;
  font-size: 0.9em;
  font-weight: 800;
  margin: 1em 0;
  text-align: left;
  white-space: normal; }
  label.no-margin-top, .label.no-margin-top {
    margin-top: 0; }
  label .margin-top-form, .label .margin-top-form {
    margin-top: 2em; }

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 9px;
  border: none;
  border-style: solid;
  border-width: 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none; }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative; }
  .select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .select-wrapper:before {
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em; }
  .select-wrapper select::-ms-expand {
    display: none; }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em; }

textarea {
  padding: 0.75em 1em; }

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 9px;
      border-style: solid;
      border-width: 1px;
      content: '';
      display: inline-block;
      height: 1.65em;
      left: 0;
      line-height: 1.58125em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65em; }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    content: '\f00c'; }

input[type="checkbox"] + label:before {
  border-radius: 9px; }

input[type="radio"] + label:before {
  border-radius: 100%; }

::-webkit-input-placeholder {
  opacity: 1.0; }

:-moz-placeholder {
  opacity: 1.0; }

::-moz-placeholder {
  opacity: 1.0; }

:-ms-input-placeholder {
  opacity: 1.0; }

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

.image {
  border: 0;
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .image img {
    display: block; }
  .image.with-rounded-corners {
    border-radius: 9px; }
  .image.featured {
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 980px) {
      .image.featured {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block; } }
@media screen and (max-width: 736px) and (orientation: landscape) {
  .image.featured {
    max-width: 40%; } }

  .image.left, .image.right {
    max-width: 40%; }
    .image.left img, .image.right img {
      width: 100%; }
  .image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em; }
  .image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em; }
  .image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%; }
    .image.fit img {
      width: 100%; }
  .image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%; }
    .image.main img {
      width: 100%; }

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em; }
  ol li {
    padding-left: 0.25em; }
  ol.type-lowercase_letter {
    list-style: lower-alpha; }

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em; }
  ul li {
    padding-left: 0.5em; }
  ul.alt {
    list-style: none;
    padding-left: 0; }
    ul.alt li {
      border-top-style: solid;
      border-top-width: 1px;
      padding: 0.5em 0; }
      ul.alt li:first-child {
        border-top: 0;
        padding-top: 0; }
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 0.75em; }
      ul.icons li:last-child {
        padding-right: 0 !important; }
      ul.icons li .icon:before {
        font-size: 1.75rem; }
    ul.icons.major {
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      ul.icons.major li {
        padding: 0 2.5em 0 0; }
        ul.icons.major li .icon:before {
          font-size: 2.75rem; }
      @media (max-width: 736px) {
        ul.icons.major li {
          padding: 0 1.25em 0 0; }
          ul.icons.major li .icon:before {
            font-size: 1.75rem; } }
    ul.icons.labeled {
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      ul.icons.labeled li {
        margin: 1em 0;
        padding: 0 2em 0 0; }
        ul.icons.labeled li .icon:before {
          vertical-align: middle;
          font-size: 2.25rem;
          margin-right: 0.5em; }
        ul.icons.labeled li .icon .label {
          display: inline-block;
          vertical-align: middle; }
@media screen and (max-width: 736px) and (orientation: portrait) {
  ul.icons.labeled {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    white-space: nowrap; }
    ul.icons.labeled li {
      display: block;
      padding: 0;
      margin: 1.5em 0 0 0; }
      ul.icons.labeled li .icon:before {
        width: 1.5em;
        display: block;
        float: left;
        margin-right: 0; }
      ul.icons.labeled li .icon:after {
        content: '';
        display: block;
        clear: both; }
      ul.icons.labeled li:first-child {
        margin-top: 0; } }

  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    ul.actions li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle; }
      ul.actions li:last-child {
        padding-right: 0; }
    ul.actions.small li {
      padding: 0 0.5em 0 0; }
    ul.actions.vertical li {
      display: block;
      padding: 1em 0 0 0; }
      ul.actions.vertical li:first-child {
        padding-top: 0; }
      ul.actions.vertical li > * {
        margin-bottom: 0; }
    ul.actions.vertical.small li {
      padding: 0.5em 0 0 0; }
      ul.actions.vertical.small li:first-child {
        padding-top: 0; }
    ul.actions.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em); }
      ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1em; }
        ul.actions.fit li > * {
          margin-bottom: 0; }
      ul.actions.fit.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em); }
        ul.actions.fit.small li {
          padding: 0 0 0 0.5em; }
@media screen and (max-width: 480px) and (orientation: portrait) {
  ul.actions {
    margin: 0 0 2em 0; }
    ul.actions li {
      padding: 1em 0 0 0;
      display: block;
      text-align: center;
      width: 100%; }
      ul.actions li:first-child {
        padding-top: 0; }
      ul.actions li > * {
        width: 100%;
        margin: 0 !important; }
        ul.actions li > *.icon:before {
          margin-left: -2em; }
    ul.actions.small li {
      padding: 0.5em 0 0 0; }
      ul.actions.small li:first-child {
        padding-top: 0; } }

dl {
  margin: 0 0 2em 0; }
  dl dt {
    display: block;
    font-weight: 800;
    margin: 0 0 1em 0; }
  dl dd {
    margin-left: 2em; }

section.special, article.special {
  text-align: center; }

header p {
  position: relative;
  margin: 0 0 1.5em 0;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 736px) {
    header p br {
      display: none; } }
header h1 {
  font-family: "Dinpro", sans-serif;
  font-weight: 800; }
  header h1 + p {
    font-size: 1.5em;
    margin-top: -0.5em;
    line-height: 1.7em; }
header h2 + p {
  font-size: 1.25em;
  margin-top: -0.5em;
  line-height: 1.5em; }
header h3 + p {
  font-size: 1.1em;
  margin-top: -0.25em;
  line-height: 1.5em; }
header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em; }
header.major {
  margin: 0 0 2.5em 0;
  text-align: center;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  header.major.with-divider:after {
    content: '';
    border-bottom: dotted 4px;
    display: block;
    width: 62%;
    margin: 2em auto 0 auto; }
  @media (max-width: 736px) {
    header.major {
      margin: 0 0 2em 0; }
      header.major p {
        font-size: 1em; } }

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2em 0;
  width: 100%; }
  table tbody tr {
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-right: 0; }
  table td {
    padding: 0.75em 0.75em; }
  table th {
    font-size: 0.9em;
    font-weight: 800;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left; }
  table thead {
    border-bottom-style: solid;
    border-bottom-width: 2px; }
  table tfoot {
    border-top-style: solid;
    border-top-width: 2px; }
  table.alt {
    border-collapse: separate; }
    table.alt tbody tr td {
      border-style: solid;
      border-width: 1px;
      border-left-width: 0;
      border-top-width: 0; }
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    table.alt thead {
      border-bottom: 0; }
    table.alt tfoot {
      border-top: 0; }

body {
  background: #FFFFFF;
  color: #808184; }
  body label {
    color: #FF149B; }
  body input[type="text"],
  body input[type="password"],
  body input[type="email"],
  body select,
  body textarea {
    color: inherit;
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
    body input[type="text"]:focus,
    body input[type="password"]:focus,
    body input[type="email"]:focus,
    body select:focus,
    body textarea:focus {
      border-color: #702082;
      box-shadow: 0 0 0 1px #702082; }
  body .select-wrapper:before {
    color: #FFFFFF; }
  body input[type="checkbox"] + label,
  body input[type="radio"] + label {
    color: #808184; }
    body input[type="checkbox"] + label:before,
    body input[type="radio"] + label:before {
      background-color: #FFFFFF;
      border-color: #FFFFFF; }
  body input[type="checkbox"]:checked + label:before,
  body input[type="radio"]:checked + label:before {
    background-color: #702082;
    border-color: #702082;
    color: white; }
  body input[type="checkbox"]:focus + label:before,
  body input[type="radio"]:focus + label:before {
    border-color: #FF149B;
    box-shadow: 0 0 0 1px #FF149B; }
  body ::-webkit-input-placeholder {
    color: #808184 !important; }
  body :-moz-placeholder {
    color: #808184 !important; }
  body ::-moz-placeholder {
    color: #808184 !important; }
  body :-ms-input-placeholder {
    color: #808184 !important; }
  body .formerize-placeholder {
    color: #808184 !important; }
  body .icon {
    color: #808184; }
  body ul.alt > li {
    border-top-color: #FFFFFF; }
  body table tbody tr {
    border-color: #FFFFFF; }
    body table tbody tr:nth-child(2n + 1) {
      background-color: rgba(144, 144, 144, 0.075); }
  body table th {
    color: #FF149B; }
  body table thead {
    border-bottom-color: #FFFFFF; }
  body table tfoot {
    border-top-color: #FFFFFF; }
  body table.alt tbody tr td {
    border-color: #FFFFFF; }
  body input, body select, body textarea {
    color: #808184; }
  body a {
    color: inherit;
    border-bottom-color: transparent; }
    body a:hover {
      color: #702082; }
  body strong {
    color: #FF149B; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #FF149B; }
    body h1.accented, body h2.accented, body h3.accented, body h4.accented, body h5.accented, body h6.accented {
      color: white; }
  body header.major.with-divider:after {
    border-color: #FFFFFF; }

div {
  box-sizing: border-box; }

p {
  margin-bottom: 0.6em; }

h2 {
  font-size: 1.9em;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 980px) {
    h2 {
      font-size: 1.5em; } }
  @media (max-width: 480px) {
    h2 {
      font-size: 1.4em; } }
  @media (max-width: 360px) {
    h2 {
      font-size: 1.2em; } }

.image-big {
  display: block;
  margin: auto auto 1em;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 736px) {
    .image-big {
      margin-top: 1em; } }

.arrow-icon {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 480px) {
    .arrow-icon {
      display: none; } }
  .arrow-icon .arrow {
    fill: #5a1a68; }
    .arrow-icon .arrow:hover {
      fill: #FF149B;
      cursor: pointer; }

.line {
  width: 30%;
  height: 2px;
  margin: 0 auto 2em auto;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 1200px) {
    .line {
      width: 50%; } }

.purple-text {
  color: #702082; }

input[type="text"] {
  text-align: center;
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  -webkit-box-shadow: 0 0 10px 1px rgba(211, 211, 211, 0.91);
  box-shadow: 0 0 10px 1px rgba(211, 211, 211, 0.91); }

button {
  border: 0;
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  background-color: #702082;
  color: white;
  text-transform: uppercase;
  padding: 0.6em 1.2em; }
  button.generic-button {
    padding: 0; }
  button:hover {
    background-color: #FF149B; }
  button.inline-element {
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 980px) {
      button.inline-element {
        font-size: 0.79em; } }
    @media (max-width: 736px) {
      button.inline-element {
        font-size: 1em; } }

.inline-element {
  margin-right: 1.2em;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (min-width: 982px) {
    .inline-element {
      margin-right: 2em; } }
  .inline-element:last-of-type {
    margin-right: 0; }

.upper-bar {
  height: 4em;
  background-color: #efefef;
  padding-bottom: 0;
  padding-top: 0; }
  .upper-bar .upper-bar-elements {
    margin: auto;
    padding-top: 0.7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    .upper-bar .upper-bar-elements img {
      max-width: 14em; }
    .upper-bar .upper-bar-elements .right-side {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      .upper-bar .upper-bar-elements .right-side p {
        margin: 0;
        /*@if ($bp == xlarge){//(max-width: 1680px)
          @media (min-width: 1281px){ @content }
        }
        @else*/ }
        @media (max-width: 980px) {
          .upper-bar .upper-bar-elements .right-side p {
            display: none; } }
      .upper-bar .upper-bar-elements .right-side .input[type="text"] {
        width: 12em;
        height: 2em;
        font-size: 1em;
        margin: 0 1em;
        border: 1px solid #efefef; }
      .upper-bar .upper-bar-elements .right-side .generic-button {
        width: 8em;
        height: 2em;
        font-size: 1em;
        /*@if ($bp == xlarge){//(max-width: 1680px)
          @media (min-width: 1281px){ @content }
        }
        @else*/ }
        @media (max-width: 980px) {
          .upper-bar .upper-bar-elements .right-side .generic-button {
            width: 5em; } }
      .upper-bar .upper-bar-elements .right-side button > i {
        display: none;
        /*@if ($bp == xlarge){//(max-width: 1680px)
          @media (min-width: 1281px){ @content }
        }
        @else*/ }
        @media (max-width: 980px) {
          .upper-bar .upper-bar-elements .right-side button > i {
            display: block; } }
      .upper-bar .upper-bar-elements .right-side button > span {
        display: block;
        /*@if ($bp == xlarge){//(max-width: 1680px)
          @media (min-width: 1281px){ @content }
        }
        @else*/ }
        @media (max-width: 980px) {
          .upper-bar .upper-bar-elements .right-side button > span {
            display: none; } }
      @media (max-width: 736px) {
        .upper-bar .upper-bar-elements .right-side {
          display: none; } }
  .upper-bar + .content {
    -moz-box-shadow: inset 0 6px 12px -4px rgba(96,96,96,0.6);
    -webkit-box-shadow: inset 0 6px 12px -4px rgba(96,96,96,0.6);
    -ms-box-shadow: inset 0 6px 12px -4px rgba(96,96,96,0.6);
    box-shadow: inset 0 6px 12px -4px rgba(96,96,96,0.6); }

#dialog-info .mdl-card {
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 480px) {
    #dialog-info .mdl-card {
      height: 100%;
      display: flex;
      flex-direction: column; } }

.content {
  background: #efefef; }

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  margin: 0 auto;
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 980px) {
    .content-wrapper {
      flex-direction: column;
      overflow-y: hidden; } }
  .content-wrapper #panel-container {
    width: 35%;
    height: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 980px) {
      .content-wrapper #panel-container {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -100%;
        z-index: 1;
        margin-bottom: 48pt;
        overflow-y: hidden;
        -moz-transition: bottom 0.6s;
        -webkit-transition: bottom 0.6s;
        -ms-transition: bottom 0.6s;
        transition: bottom 0.6s; }
        .content-wrapper #panel-container.is-active {
          overflow-y: auto;
          bottom: -48pt;
          z-index: 1; } }
    .content-wrapper #panel-container .panel-title {
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      .content-wrapper #panel-container .panel-title h4 {
        margin: 0 0 1.2em 0;
        text-align: center; }
      .content-wrapper #panel-container .panel-title a {
        margin-top: 1.2em; }
      .content-wrapper #panel-container .panel-title img {
        display: block;
        margin: auto;
        width: 70%;
        padding: 1em;
        height: 5em;
        /*@if ($bp == xlarge){//(max-width: 1680px)
          @media (min-width: 1281px){ @content }
        }
        @else*/
        /*@if ($bp == xlarge){//(max-width: 1680px)
          @media (min-width: 1281px){ @content }
        }
        @else*/
        /*@if ($bp == xlarge){//(max-width: 1680px)
          @media (min-width: 1281px){ @content }
        }
        @else*/ }
        @media (max-width: 980px) {
          .content-wrapper #panel-container .panel-title img {
            max-width: 60%; } }
        @media (max-width: 736px) {
          .content-wrapper #panel-container .panel-title img {
            max-width: 100%; } }
        @media (max-width: 480px) {
          .content-wrapper #panel-container .panel-title img {
            max-width: 100%;
            padding: 1em 0; } }
      @media (max-width: 980px) {
        .content-wrapper #panel-container .panel-title {
          margin-top: 48pt; } }
    .content-wrapper #panel-container .panel-filters {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5em; }
      .content-wrapper #panel-container .panel-filters .panel-filters-text {
        display: flex;
        flex-direction: row; }
        .content-wrapper #panel-container .panel-filters .panel-filters-text .filter-neighborhood-text, .content-wrapper #panel-container .panel-filters .panel-filters-text .filter-type-text {
          text-align: center;
          flex: 1; }
          .content-wrapper #panel-container .panel-filters .panel-filters-text .filter-neighborhood-text h5, .content-wrapper #panel-container .panel-filters .panel-filters-text .filter-type-text h5 {
            color: #702082; }
      .content-wrapper #panel-container .panel-filters .panel-filters-buttons {
        display: flex;
        flex-direction: row; }
        .content-wrapper #panel-container .panel-filters .panel-filters-buttons .filter-neighborhood-button, .content-wrapper #panel-container .panel-filters .panel-filters-buttons .filter-type-button {
          flex: 1;
          text-align: center; }
          .content-wrapper #panel-container .panel-filters .panel-filters-buttons .filter-neighborhood-button .generic-button, .content-wrapper #panel-container .panel-filters .panel-filters-buttons .filter-type-button .generic-button {
            background-color: #efefef;
            color: #FF149B;
            text-transform: none;
            padding: 0.1em 0.5em;
            border-bottom: 0.15em solid #D1D3D4;
            border-right: 0.1em solid #D1D3D4; }
          .content-wrapper #panel-container .panel-filters .panel-filters-buttons .filter-neighborhood-button i, .content-wrapper #panel-container .panel-filters .panel-filters-buttons .filter-type-button i {
            color: #808184; }
        .content-wrapper #panel-container .panel-filters .panel-filters-buttons #typeButton {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 8em; }
    .content-wrapper #panel-container .panel-list {
      margin: 1.5em 0 1.5em 0; }
      .content-wrapper #panel-container .panel-list .centers-table thead {
        border-bottom: 0.12em solid #808184; }
        .content-wrapper #panel-container .panel-list .centers-table thead th {
          font-size: 0.75em;
          line-height: 1.5em;
          color: #702082;
          text-transform: uppercase;
          margin-bottom: 0;
          text-align: center; }
      .content-wrapper #panel-container .panel-list .centers-table tbody tr {
        border-bottom: 0.1em solid #808184;
        background-color: #FFFFFF;
        cursor: pointer; }
        .content-wrapper #panel-container .panel-list .centers-table tbody tr:hover {
          background-color: #efefef !important; }
      .content-wrapper #panel-container .panel-list .centers-table tbody td {
        font-size: 0.75em;
        line-height: 1.5em;
        text-transform: uppercase;
        text-align: center; }
        .content-wrapper #panel-container .panel-list .centers-table tbody td.font-pink {
          color: #FF149B;
          font-weight: bold; }
        .content-wrapper #panel-container .panel-list .centers-table tbody td i {
          color: #FF149B; }
  .content-wrapper #update-date {
    text-align: center;
    margin-bottom: 2em; }
  .content-wrapper #map-container {
    background: #FFFFFF;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 980px) {
      .content-wrapper #map-container {
        width: 100%;
        height: auto;
        padding-bottom: 48pt;
        z-index: 0; } }
    .content-wrapper #map-container #mapid {
      width: 100%; }
    .content-wrapper #map-container .custom .leaflet-popup-tip,
    .content-wrapper #map-container .custom .leaflet-popup-content-wrapper {
      background: #efefef;
      border-radius: 0; }
      .content-wrapper #map-container .custom .leaflet-popup-tip h4,
      .content-wrapper #map-container .custom .leaflet-popup-content-wrapper h4 {
        color: #808184;
        margin-bottom: 0.1em; }
        .content-wrapper #map-container .custom .leaflet-popup-tip h4 > span,
        .content-wrapper #map-container .custom .leaflet-popup-content-wrapper h4 > span {
          font-weight: normal; }
      .content-wrapper #map-container .custom .leaflet-popup-tip p,
      .content-wrapper #map-container .custom .leaflet-popup-content-wrapper p {
        margin: 0;
        color: #808184; }
      .content-wrapper #map-container .custom .leaflet-popup-tip .popup-availability,
      .content-wrapper #map-container .custom .leaflet-popup-content-wrapper .popup-availability {
        margin-top: 0.5em; }
      .content-wrapper #map-container .custom .leaflet-popup-tip .popupButtons,
      .content-wrapper #map-container .custom .leaflet-popup-content-wrapper .popupButtons {
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        text-align: center; }
        .content-wrapper #map-container .custom .leaflet-popup-tip .popupButtons .popupDetailButton,
        .content-wrapper #map-container .custom .leaflet-popup-content-wrapper .popupButtons .popupDetailButton {
          flex-grow: 1;
          margin-right: 1em; }
          .content-wrapper #map-container .custom .leaflet-popup-tip .popupButtons .popupDetailButton button,
          .content-wrapper #map-container .custom .leaflet-popup-content-wrapper .popupButtons .popupDetailButton button {
            padding: 0.7em; }
        .content-wrapper #map-container .custom .leaflet-popup-tip .popupButtons .popupAppointmentButton,
        .content-wrapper #map-container .custom .leaflet-popup-content-wrapper .popupButtons .popupAppointmentButton {
          flex-grow: 1; }
          .content-wrapper #map-container .custom .leaflet-popup-tip .popupButtons .popupAppointmentButton button,
          .content-wrapper #map-container .custom .leaflet-popup-content-wrapper .popupButtons .popupAppointmentButton button {
            padding: 0.7em; }
  .content-wrapper #panel-toggle {
    height: 0;
    display: none;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 980px) {
      .content-wrapper #panel-toggle {
        z-index: 1;
        height: 48pt;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        -moz-transition: bottom 0.6s;
        -webkit-transition: bottom 0.6s;
        -ms-transition: bottom 0.6s;
        transition: bottom 0.6s; }
        .content-wrapper #panel-toggle.is-translated {
          bottom: 100%;
          padding-top: 48pt; }
        .content-wrapper #panel-toggle.is-hidden {
          height: 0; } }
    .content-wrapper #panel-toggle .button-toggle {
      height: 48pt;
      z-index: 1;
      position: absolute; }
    .content-wrapper #panel-toggle button {
      height: 48pt;
      width: 100%;
      background-color: #FFFFFF;
      color: #702082;
      border-bottom: 0.1em solid #808184; }
    .content-wrapper #panel-toggle button:hover {
      color: #FF149B; }
    .content-wrapper #panel-toggle button:focus {
      outline: none; }

#overlay #screen {
  /*@if ($bp == xlarge){//(max-width: 1680px)
    @media (min-width: 1281px){ @content }
  }
  @else*/ }
  @media (max-width: 736px) {
    #overlay #screen {
      overflow-y: auto; } }
#overlay #dialog-info, #overlay #dialog-loading {
  padding: 0; }
  #overlay #dialog-info .mdl-card__title, #overlay #dialog-loading .mdl-card__title {
    padding: 18pt 18pt 8pt 18pt !important;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .mdl-card__title, #overlay #dialog-loading .mdl-card__title {
        padding: 12pt 18pt 4pt 18pt !important; } }
    #overlay #dialog-info .mdl-card__title .mdl-card__title-text, #overlay #dialog-loading .mdl-card__title .mdl-card__title-text {
      margin-bottom: 8pt;
      font-size: 1.1em;
      line-height: 1.5em;
      text-transform: uppercase;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      @media (max-width: 480px) {
        #overlay #dialog-info .mdl-card__title .mdl-card__title-text, #overlay #dialog-loading .mdl-card__title .mdl-card__title-text {
          font-size: 1em;
          margin-bottom: 4pt; } }
  #overlay #dialog-info .option-container ul, #overlay #dialog-loading .option-container ul {
    list-style-type: none;
    padding-left: 0; }
    #overlay #dialog-info .option-container ul li, #overlay #dialog-loading .option-container ul li {
      cursor: pointer;
      padding: 0.5em 1.2em !important;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      @media (max-width: 480px) {
        #overlay #dialog-info .option-container ul li, #overlay #dialog-loading .option-container ul li {
          padding: 0.5em 1.2em !important; } }
      #overlay #dialog-info .option-container ul li:hover, #overlay #dialog-loading .option-container ul li:hover {
        background-color: #efefef; }
  #overlay #dialog-info .option-container .dialog-subtitle, #overlay #dialog-loading .option-container .dialog-subtitle {
    font-size: 1.0em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #808184;
    margin: 0 18pt 4pt 18pt;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container .dialog-subtitle, #overlay #dialog-loading .option-container .dialog-subtitle {
        font-size: 0.8em; } }
    #overlay #dialog-info .option-container .dialog-subtitle.with-margin-bottom, #overlay #dialog-loading .option-container .dialog-subtitle.with-margin-bottom {
      margin-bottom: 18pt;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      @media (max-width: 480px) {
        #overlay #dialog-info .option-container .dialog-subtitle.with-margin-bottom, #overlay #dialog-loading .option-container .dialog-subtitle.with-margin-bottom {
          margin-bottom: 0; } }
    #overlay #dialog-info .option-container .dialog-subtitle.with-margin, #overlay #dialog-loading .option-container .dialog-subtitle.with-margin {
      margin: 0 18pt 8pt 18pt; }
    #overlay #dialog-info .option-container .dialog-subtitle.with-long-margin, #overlay #dialog-loading .option-container .dialog-subtitle.with-long-margin {
      margin: 0 18pt 18pt 18pt; }
    #overlay #dialog-info .option-container .dialog-subtitle.color-purple, #overlay #dialog-loading .option-container .dialog-subtitle.color-purple {
      color: #702082; }
    #overlay #dialog-info .option-container .dialog-subtitle.bold, #overlay #dialog-loading .option-container .dialog-subtitle.bold {
      font-weight: bold; }
    #overlay #dialog-info .option-container .dialog-subtitle.lowercase, #overlay #dialog-loading .option-container .dialog-subtitle.lowercase {
      text-transform: none;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      @media (max-width: 480px) {
        #overlay #dialog-info .option-container .dialog-subtitle.lowercase, #overlay #dialog-loading .option-container .dialog-subtitle.lowercase {
          font-size: 0.8em !important; } }
  #overlay #dialog-info .option-container .dialog-details, #overlay #dialog-loading .option-container .dialog-details {
    font-size: 0.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #808184;
    margin: 0 18pt 18pt 18pt;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container .dialog-details, #overlay #dialog-loading .option-container .dialog-details {
        font-size: 0.7em;
        margin: 0 18pt 4pt 18pt; } }
    #overlay #dialog-info .option-container .dialog-details.bold, #overlay #dialog-loading .option-container .dialog-details.bold {
      font-weight: bold; }
  #overlay #dialog-info .option-container .dialog-text-container, #overlay #dialog-loading .option-container .dialog-text-container {
    margin: 0 18pt 8pt 18pt; }
    #overlay #dialog-info .option-container .dialog-text-container:last-child, #overlay #dialog-loading .option-container .dialog-text-container:last-child {
      margin: 0 18pt 18pt 18pt; }
  #overlay #dialog-info .option-container .browsers-div, #overlay #dialog-loading .option-container .browsers-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 18pt;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container .browsers-div, #overlay #dialog-loading .option-container .browsers-div {
        margin-bottom: 0; } }
    #overlay #dialog-info .option-container .browsers-div .dialog-browser, #overlay #dialog-loading .option-container .browsers-div .dialog-browser {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 0.6em 0;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      @media (max-width: 480px) {
        #overlay #dialog-info .option-container .browsers-div .dialog-browser, #overlay #dialog-loading .option-container .browsers-div .dialog-browser {
          padding: 0.5em 0; } }
      #overlay #dialog-info .option-container .browsers-div .dialog-browser:hover, #overlay #dialog-loading .option-container .browsers-div .dialog-browser:hover {
        background-color: #efefef; }
        #overlay #dialog-info .option-container .browsers-div .dialog-browser:hover a, #overlay #dialog-loading .option-container .browsers-div .dialog-browser:hover a {
          color: #FF149B; }
    #overlay #dialog-info .option-container .browsers-div .dialog-browser-image, #overlay #dialog-loading .option-container .browsers-div .dialog-browser-image {
      height: 5em;
      width: 5em;
      padding: 0.25em 0;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      @media (max-width: 480px) {
        #overlay #dialog-info .option-container .browsers-div .dialog-browser-image, #overlay #dialog-loading .option-container .browsers-div .dialog-browser-image {
          height: 3.5em;
          width: 3.5em; } }
    #overlay #dialog-info .option-container .browsers-div .dialog-browser-link, #overlay #dialog-loading .option-container .browsers-div .dialog-browser-link {
      color: #702082;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      @media (max-width: 480px) {
        #overlay #dialog-info .option-container .browsers-div .dialog-browser-link, #overlay #dialog-loading .option-container .browsers-div .dialog-browser-link {
          font-size: 0.8em; } }
      #overlay #dialog-info .option-container .browsers-div .dialog-browser-link:hover, #overlay #dialog-loading .option-container .browsers-div .dialog-browser-link:hover {
        color: #FF149B; }
  #overlay #dialog-info .option-container .dialog-review, #overlay #dialog-loading .option-container .dialog-review {
    font-size: 1.0em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0 18pt 12pt 18pt;
    font-weight: bold;
    color: #FF149B; }
    #overlay #dialog-info .option-container .dialog-review i, #overlay #dialog-loading .option-container .dialog-review i {
      padding-left: 0.3em; }
  #overlay #dialog-info .option-container .dialog-review-container, #overlay #dialog-loading .option-container .dialog-review-container {
    margin: 0 18pt 18pt 18pt; }
    #overlay #dialog-info .option-container .dialog-review-container.with-loader-inside .loader-inside, #overlay #dialog-loading .option-container .dialog-review-container.with-loader-inside .loader-inside {
      background: #FFFFFF;
      display: none;
      z-index: 100000; }
    #overlay #dialog-info .option-container .dialog-review-container.with-loader-inside .loader-inside.absolute, #overlay #dialog-loading .option-container .dialog-review-container.with-loader-inside .loader-inside.absolute {
      position: absolute; }
    #overlay #dialog-info .option-container .dialog-review-container.with-loader-inside .loader-inside .item-container, #overlay #dialog-loading .option-container .dialog-review-container.with-loader-inside .loader-inside .item-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%; }
    #overlay #dialog-info .option-container .dialog-review-container.with-loader-inside .loader-inside .item-container i, #overlay #dialog-loading .option-container .dialog-review-container.with-loader-inside .loader-inside .item-container i {
      color: #702082;
      font-size: 2em; }
    #overlay #dialog-info .option-container .dialog-review-container.with-loader-inside.is-loading-inside .loader-inside, #overlay #dialog-loading .option-container .dialog-review-container.with-loader-inside.is-loading-inside .loader-inside {
      display: block;
      margin: 25pt; }
  #overlay #dialog-info .option-container .dialog-review-title, #overlay #dialog-loading .option-container .dialog-review-title {
    font-size: 0.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0 18pt 4pt 18pt;
    color: #702082;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container .dialog-review-title, #overlay #dialog-loading .option-container .dialog-review-title {
        margin: 18pt 18pt 4pt 18pt; } }
  #overlay #dialog-info .option-container .dialog-review-table, #overlay #dialog-loading .option-container .dialog-review-table {
    margin: 0 18pt 18pt 18pt;
    list-style-type: none; }
    #overlay #dialog-info .option-container .dialog-review-table li, #overlay #dialog-loading .option-container .dialog-review-table li {
      cursor: default;
      padding: 0.5em 0 0 0 !important; }
      #overlay #dialog-info .option-container .dialog-review-table li:hover, #overlay #dialog-loading .option-container .dialog-review-table li:hover {
        background-color: #FFFFFF; }
    #overlay #dialog-info .option-container .dialog-review-table .link, #overlay #dialog-loading .option-container .dialog-review-table .link {
      margin-top: 1em; }
      #overlay #dialog-info .option-container .dialog-review-table .link:hover, #overlay #dialog-loading .option-container .dialog-review-table .link:hover {
        color: #702082; }
    #overlay #dialog-info .option-container .dialog-review-table .dialog-single-review, #overlay #dialog-loading .option-container .dialog-review-table .dialog-single-review {
      color: #808184;
      overflow-wrap: break-word;
      overflow: hidden; }
      #overlay #dialog-info .option-container .dialog-review-table .dialog-single-review .hidden, #overlay #dialog-loading .option-container .dialog-review-table .dialog-single-review .hidden {
        display: none; }
      #overlay #dialog-info .option-container .dialog-review-table .dialog-single-review .dialog-single-review-container, #overlay #dialog-loading .option-container .dialog-review-table .dialog-single-review .dialog-single-review-container {
        font-size: 0.8em;
        color: #FF149B;
        margin-bottom: 0.2em; }
        #overlay #dialog-info .option-container .dialog-review-table .dialog-single-review .dialog-single-review-container i, #overlay #dialog-loading .option-container .dialog-review-table .dialog-single-review .dialog-single-review-container i {
          padding-right: 0.3em; }
  #overlay #dialog-info .option-container #comment-text-area, #overlay #dialog-loading .option-container #comment-text-area {
    background-color: #FFFFFF;
    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    border-radius: 0.1em;
    -webkit-box-shadow: 0 0 10px 1px rgba(211, 211, 211, 0.91);
    box-shadow: 0 0 10px 1px rgba(211, 211, 211, 0.91);
    margin: 8pt 18pt 18pt 18pt;
    width: 90%;
    font-size: 1em;
    resize: vertical;
    max-height: 10em;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container #comment-text-area, #overlay #dialog-loading .option-container #comment-text-area {
        margin: 0 auto;
        padding: 0.75em 1em 2.5em 1em; } }
  #overlay #dialog-info .option-container .rating, #overlay #dialog-loading .option-container .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 1.1em;
    float: left;
    margin: 0 18pt 18pt 18pt;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container .rating, #overlay #dialog-loading .option-container .rating {
        margin: 0 18pt 12pt 18pt; } }
  #overlay #dialog-info .option-container .rating span.star, #overlay #dialog-loading .option-container .rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block; }
  #overlay #dialog-info .option-container .rating span.star:hover, #overlay #dialog-loading .option-container .rating span.star:hover {
    cursor: pointer; }
  #overlay #dialog-info .option-container .rating span.star:before, #overlay #dialog-loading .option-container .rating span.star:before {
    content: "\f006";
    padding-right: 0.5em;
    color: #FF149B; }
  #overlay #dialog-info .option-container .rating span.star:hover:before,
  #overlay #dialog-info .option-container .rating span.star:hover ~ span.star:before, #overlay #dialog-loading .option-container .rating span.star:hover:before,
  #overlay #dialog-loading .option-container .rating span.star:hover ~ span.star:before {
    content: "\f005";
    color: #FF149B; }
  #overlay #dialog-info .option-container span.star.filled:before, #overlay #dialog-loading .option-container span.star.filled:before {
    color: #FF149B;
    content: "\f005"; }
  #overlay #dialog-info .option-container #errorMessages, #overlay #dialog-loading .option-container #errorMessages {
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container #errorMessages, #overlay #dialog-loading .option-container #errorMessages {
        margin-bottom: 12pt; } }
  #overlay #dialog-info .option-container .dialog-error, #overlay #dialog-loading .option-container .dialog-error {
    color: #ED145B;
    font-size: 1em;
    margin: 0 18pt 12pt 18pt;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .option-container .dialog-error, #overlay #dialog-loading .option-container .dialog-error {
        font-size: 0.9em;
        margin: 0 18pt 4pt 18pt; } }
  #overlay #dialog-info .dialog-container-btn, #overlay #dialog-loading .dialog-container-btn {
    padding: 1em;
    border-top: 0.1em solid #D1D3D4 !important;
    /*@if ($bp == xlarge){//(max-width: 1680px)
      @media (min-width: 1281px){ @content }
    }
    @else*/ }
    @media (max-width: 480px) {
      #overlay #dialog-info .dialog-container-btn, #overlay #dialog-loading .dialog-container-btn {
        text-align: center;
        padding: 0.5em; } }
    #overlay #dialog-info .dialog-container-btn button, #overlay #dialog-loading .dialog-container-btn button {
      background-color: #FFFFFF;
      color: #702082;
      margin-left: 0.5em;
      padding: 0.3em 1em;
      /*@if ($bp == xlarge){//(max-width: 1680px)
        @media (min-width: 1281px){ @content }
      }
      @else*/ }
      #overlay #dialog-info .dialog-container-btn button:hover, #overlay #dialog-loading .dialog-container-btn button:hover {
        color: #FF149B; }
      @media (max-width: 480px) {
        #overlay #dialog-info .dialog-container-btn button, #overlay #dialog-loading .dialog-container-btn button {
          margin-left: 0;
          padding: 0.3em 0.5em; } }

/*# sourceMappingURL=map.css.map */
